.DS_Store
bbq_converter.py
bbq_control/biology-problems
bbq_control/bbq_generation.log*
bbq_control/bbq_generation_errors.log
#bbq_control/bbq-*-questions.txt
bbq_control/*.png

# Byte-compiled / optimized / DLL files
*.py[cod]

site/
report_*.txt
